body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#app {
    height: 100vh;
    width: 100%;
}

#viewer {
    height: 100%;
    width: 100%;
    cursor: grab;
}

#viewer:active {
    cursor: grabbing;
}
